.navbar-brand img{
    width: 130px;

}

.custom-header {
    margin-top: 100px; 
}

.full-width{
    width: 100%;
    height: auto;
}

.feature-item img{
    width: 50px;
    height: auto;
}
.subscribe{
    background-image: url(img/typing.jpeg);
    background-size: cover;
    background-position: bottom;
}